@import '../utils.styl'

.docs
  .sidebar
    .md-outline
      height 100%
      overflow-y auto
      overflow-x hidden

  .md-article
    .footer
      border-bottom 2px solid black
      margin 2em 0

