.body-import
  .done
    text-align center
    padding-top 2em
    display block
    clear both

    p
      margin 0 0 1em 0
      padding 0

      &:before
        content: '\f044';
        font-family: spocdicons;
        color: #67aa24;
        display inline-block
        width 1.5em

