doctype html
//[if lt IE 8]><html lang="en" class="lt-ie8"><![endif]
//[if IE 8]><html lang="en" class="ie8"><![endif]
//[if IE 9]><html lang="en" class="ie9"><![endif]
//[if gt IE 9]><!
html(lang="en")
  //<![endif]
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="cleartype",content="on")
    meta(name="keywords", content="blog, microblog, evernote, twitter, tumblr, note, notes, collaborate")
    link(rel="shortcut icon" href="/favicon.ico?v=2")
    title Synopsi
  body.preload
  script(type='text/javascript').
    (function () {
      var html = document.getElementsByTagName("html")[0];
      if (/iPhone|iPod/i.test(navigator.userAgent)) {
        html.className += " mobile iphone";
      } else if (/Android|webOS|iPad|BlackBerry|IEMobile|Opera Mini|Mobile/i.test(navigator.userAgent)) {
        html.className += " mobile";
      } else {
        html.className += " desktop";
      }
    }());
