@import 'nib'

// -----------------
// UTILS
// -----------------

@import './utils.styl'

.preload *
  transition none !important

.centering
  @extend $centering

.no-scroll
  overflow hidden

.blurred
  opacity 0.5

// only on desktop -- mobile is too slow to render this effect without disruption
.desktop
  .blurred
    -webkit-filter blur(5px)

.oauth-list
  list-style-type none !important
  text-indent 0 !important
  padding 0 !important
  text-align center !important

  li
    display inline-block !important
    position relative  // to position the spinner

    a
      @extend $button-blue
      margin 5px

// general headers
// -----
h1
  font-weight 300

.article-text
  @extend $article-text

.small
  .article-text
    font-size 1em

// Vertical dots
// --------
.vert-dots
  @extend $inline-block
  padding 0 1em
  cursor pointer

  .dot
    background BLACK_COLOR
    width 4px
    height 4px
    margin-bottom 2px

  &:hover
    .dot
      background LINK_COLOR

// Spinner
// --------
.spinner
  display none
  position absolute
  bottom 0
  width 100%
  height 100%
  margin 0
  padding 0
  text-align center
  box-sizing border-box
  padding-top 0.5em

.in-progress
  .has-spinner
    opacity 0
    // easeSlow 'opacity' // this causes the bar transitions to fail (!?)

  .spinner
    display block

// error text
// ----------
.error
  @extend $error-message
  display none
  border-radius 4px

.warn
  @extend $warn-message
  display none
  border-radius 4px

.info
  @extend $warn-message
  display none
  border-radius 4px

.has-error
  .error
    display block
  .warn
    display block
  .info
    display block


// forms
// --------

input
  -webkit-appearance none
  border-radius 0

.form
  .submit-div
    position relative
    text-align center
    margin 0
    padding 0

  .submit
    background none
    border none
    font-size 1em
    padding 0
    margin 0
    outline 0
    color #ccc

    span
      display none

    &:hover
      cursor default

  .submit:before
    // content: '\f026';
    content: '\f050';
    font-family: spocdicons;
    font-size 1.6em
    line-height 1.6em

  .can-submit
    &:hover
      cursor pointer
      color LINK_COLOR

  .can-submit
    color: BLACK_COLOR

  .can-submit:active
    color darken(LINK_COLOR,20%)

  .input-group
    // width 11em
    margin 5px 20px
    display block

    input
      @extend $form-field-borders-box
      background none
      color BLACK_COLOR
      margin 0

      width 100%
      box-sizing border-box

      font-size 1em

      padding 0.2em 0.5em
      line-height 1.6em

    .error
      border-top-left-radius 0
      border-top-right-radius 0
      margin-top 0

    &.has-error
      input
        border-color ERROR_COLOR !important

.progress-meter
  clear: left;
  margin: 12px 10px 4px;
  height: 8px;
  padding: 3px;
  background: #ebebeb;
  border-radius: 7px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px white;

  .progress-meter-bar
    height: 100%;
    background: #73c822;
    border: 1px solid;
    border-color: #6eb626 #62a21f #5a9122;
    border-radius: 4px;
    box-sizing: border-box;
    background-image: linear-gradient(#73c822, #67aa24);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
    easeVerySlow 'width'

.no-css, .hidden
  display none !important

.btn
  border none
  background none
  padding 0
  margin 0
  box-sizing content-box
  color black
  @extend $nofocus

  &:hover
    cursor pointer

    .icon-bar
      background LINK_COLOR

.icon-bar
  display block
  width 22px
  height 2px
  margin-bottom 4px
  background black


.no-scroll
  overflow hidden !important
  height 100% !important

// for iOS (no current way to add styles from a javascript package import)
.ios-full-height
  height 100%

// -----------------
// STANDARD GLOBAL
// -----------------

// for IE
@font-face
  font-family:'spocdicons'
  font-weight:normal
  font-style:normal
  src:url("/fonts/spocdicons.eot")
  src:url("/fonts/spocdicons.eot#iefix") format("embedded-opentype")

// for standard
@font-face
  font-family:'spocdicons'
  font-weight:normal
  font-style:normal
  src: url("/fonts/spocdicons.woff") format("woff"),url("/fonts/spocdicons.svg") format("svg"),url("/fonts/spocdicons.ttf") format("truetype")

html
  font-size 16px

body
  @extend $sansserif
  margin 0
  padding 0

a
  text-decoration none
  color LINK_COLOR

  &:hover
    text-decoration underline

  &:active
    color darken(LINK_COLOR,20%)

  &:link
    color LINK_COLOR

  &:visited
    color #993399

*
  -webkit-tap-highlight-color rgba(0,0,0,0)

ul
  list-style none
  margin 0
  padding 0

  li
    display block

@import './styl/print'
@import './styl/dropdown_menu'
