@import 'nib'

// -----------------
// UTILS
// -----------------

@import './utils.styl'

*
  outline none

.preload *
  transition none !important

.centering
  @extend $centering

.no-scroll
  overflow hidden

.blurred
  opacity 0.5

// only on desktop -- mobile is too slow to render this effect without disruption -- and it's slow in safari
.desktop.apple.chrome
  .blurred
    -webkit-filter blur(5px)

.oauth-list
  list-style-type none !important
  text-indent 0 !important
  padding 0 !important
  text-align center !important

  li
    display inline-block !important
    position relative  // to position the spinner
    margin 0.5em 0

    a
      margin 5px

    a:not(.angellist)
      @extend $button-green

    a.angellist
      @extend $button
      position relative
      top 1px

// general headers, article text
// -----
.article-text
  @extend $article-text

.small
  .article-text
    font-size 1em

.match-sentence
  background: YELLOW_COLOR

.match-word
  font-weight: bold

// Vertical dots
// --------
.vert-dots
  @extend $inline-block
  padding 0 1em
  cursor pointer

  .dot
    background BLACK_COLOR
    width 3px
    height 3px
    margin-bottom 2px

  &:hover
    .dot
      background LINK_COLOR

// indicator
// -------------
.indicator
  color hsl(0,0,50%)
  font-weight 300

  &:before
    margin-right 0.5em
    content: '○'

  &.on
    color GREEN_COLOR
    font-weight normal

    &:before 
      // text-shadow 0 0 0.5em hsl(120, 100%, 25%)
      content '●'


// Spinner
// --------
.spinner
  display none
  position absolute
  bottom 0
  width 100%
  height 100%
  margin 0
  padding 0
  text-align center
  box-sizing border-box
  padding-top 0.5em

.spinner_block
  display inline-block
  position relative

.in-progress
  .has-spinner
    opacity 0
    // easeSlow 'opacity' // this causes the bar transitions to fail (!?)

  .spinner
    display block

// error text
// ----------
.error
  @extend $error-message
  display none
  border-radius 4px

.warn
  @extend $warn-message
  display none
  border-radius 4px

.info
  @extend $warn-message
  display none
  border-radius 4px

.has-error
  .error
    display block
  .warn
    display block
  .info
    display block


// forms
// --------

input[type="text"], input[type="email"], input[type="password"]
  -webkit-appearance none
  border-radius 0

  @extend $form-field-borders-box
  background none
  color BLACK_COLOR
  margin 0

  box-sizing border-box

  font-size 1em

  padding 0.2em 0.5em
  line-height 1.6em

.form
  .submit-div
    position relative
    text-align center
    margin 0
    padding 0

  .submit
    background none
    border none
    font-size 1em
    padding 0
    margin 0
    outline 0
    color #ccc

    span
      display none

    &:hover
      cursor default

  .submit:before
    // content: '\f026';
    content: '\f050';
    font-family: spocdicons;
    font-size 1.6em
    line-height 1.6em

  .can-submit
    &:hover
      cursor pointer
      // color LINK_COLOR
      color lighten(LIGHT_GREEN,10%)

  .can-submit
    // color: BLACK_COLOR
    color LIGHT_GREEN
    text-shadow 0px 1px 0px GREEN_COLOR

  .can-submit:active
    // color darken(LINK_COLOR,20%)
    color darken(LIGHT_GREEN,20%)

  .input-group
    // width 11em
    margin 5px 20px
    display block

    input
      width 100%

    .error
      border-top-left-radius 0
      border-top-right-radius 0
      margin-top 0

    &.has-error
      input
        border-color ERROR_COLOR !important

  .with-labels
    display table
    position: relative;
    border-collapse: separate;
    margin 0.4em auto 0

    .space
      display table-row
      div
        display table-cell
        height 5px

    .input-group
      display table-row

      .label
        @extend $sansserif
        font-size 0.9em
        font-weight 300
        display: table-cell;
        white-space: nowrap;
        vertical-align: middle;
        padding 0.5em 1em
        line-height 1em
        color BLACK_COLOR
        text-align right
        background #ccc
        border-radius 4px 0 0 4px
        letter-spacing 1px

        &:hover
          cursor pointer

      input
        display table-cell
        border-left 0
        border-radius 0 4px 4px 0

      &:hover
        .label
          background hsl(0,0,50%)
          color white
        input
          border-color hsl(0,0,50%)

      &.selected
        .label
          background LINK_COLOR
          color white
        input
          border-color LINK_COLOR


      &.has-error
        .error
          position absolute
          left 0
          right 0
          white-space no-wrap
          overflow hidden
          text-overflow ellipsis

        .label
          background RED_COLOR
          color white
          border-radius 4px 0 0 0

        input
          border-color RED_COLOR
          border-radius 0 4px 0 0

        & +.space
          height 2em


.no-css, .hidden
  display none !important

.btn
  border none
  background none
  padding 0
  margin 0
  box-sizing content-box
  color black
  @extend $nofocus

  &:hover
    cursor pointer

    .icon-bar
      background LINK_COLOR

.icon-bar
  display block
  width 22px
  height 2px
  margin-bottom 4px
  background black


.no-scroll
  overflow hidden !important
  height 100% !important

// for iOS (no current way to add styles from a javascript package import)
.ios-full-height
  height 100%

// -----------------
// STANDARD GLOBAL
// -----------------

// for IE
@font-face
  font-family:'spocdicons'
  font-weight:normal
  font-style:normal
  src:url("/fonts/spocdicons.eot")
  src:url("/fonts/spocdicons.eot#iefix") format("embedded-opentype")

// for standard
@font-face
  font-family:'spocdicons'
  font-weight:normal
  font-style:normal
  src: url("/fonts/spocdicons.woff") format("woff"),url("/fonts/spocdicons.svg") format("svg"),url("/fonts/spocdicons.ttf") format("truetype")

html
  font-size 16px

body
  @extend $sansserif
  margin 0
  padding 0
  overflow-y scroll

// bug fix forced word wrapping in contenteditable pre
// see https://bugs.webkit.org/show_bug.cgi?id=35935
pre
  word-wrap normal

a
  text-decoration none
  color LINK_COLOR

  &:hover
    text-decoration underline

  &:active
    color darken(LINK_COLOR,20%)

  &:link
    color LINK_COLOR

  &:visited
    color #993399

*
  -webkit-tap-highlight-color rgba(0,0,0,0)

ul
  list-style none
  margin 0
  padding 0

  li
    display block

@import './styl/print'
@import './styl/dropdown_menu'
@import './styl/css_slides'
