mixin menu
  .dropdown-caret
    span.caret-outer
    span.caret-inner
  .dropdown-menu.with-list
    block

mixin menu-to-left
  .dropdown-caret.to-left
    span.caret-outer
    span.caret-inner
  .dropdown-menu.with-list
    block

mixin menu-to-left-no-list
  .dropdown-caret.to-left
    span.caret-outer
    span.caret-inner
  .dropdown-menu
    block

mixin menu-center
  .dropdown-caret-center
    span.caret-outer
    span.caret-inner
  .dropdown-menu.with-list
    block

mixin menu-right
  .dropdown-caret-right
    span.caret-outer
    span.caret-inner
  .dropdown-menu-right.with-list
    block

mixin menu-button(id)
  a.btn.menu-button(id=id)
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.menu-button-overlay(id=id+'Overlay')


