mixin menu
  .dropdown-caret
    span.caret-outer
    span.caret-inner
  .dropdown-menu
    block

mixin menu-center
  .dropdown-caret-center
    span.caret-outer
    span.caret-inner
  .dropdown-menu
    block

mixin menu-right
  .dropdown-caret-right
    span.caret-outer
    span.caret-inner
  .dropdown-menu-right
    block

mixin menu-button(id)
  a.btn.menu-button(id=id)
    span.icon-bar
    span.icon-bar
    span.icon-bar


