IE_TRANSPARENT = "chroma(color=#bada55)"

$IE-TRANSPARENT
  *filter: unquote(IE_TRANSPARENT)

@import './styl/colors'
@import './styl/constants.styl'

$sansserif
  font-family: 'Helvetica Neue', Helvetica, arial, freesans, clean, sans-serif
  font-weight 300

$serif
  font-family: Georgia, 'Times New Roman', Times, serif
  line-height 1.6em

$fixed
  font-family: Menlo, Monoco, Andale Mono, Courier, monospace
  font-size: 0.9em
  line-height: 1.5em
  tab-size: 4
  white-space: pre

$inline-block
  display inline-block
  *display inline
  *zoom 1

$editor-text
  @extend $fixed

$article-text
  @extend $serif

  user-select text

  .inline-highlighted
    background YELLOW_COLOR

  .inline-tag
    color DBLUE_COLOR

  .meta-tldr
    margin 0 1em 3em 2em

  pre
    white-space: pre
    overflow auto

  pre, code
    // @extend $fixed // STYLUS BUG, see <https://github.com/LearnBoost/stylus/issues/1304>
    font-family: Menlo, Monoco, Andale Mono, Courier, monospace
    font-size: 0.9em
    line-height: 1.5em
    tab-size: 4
    // END BUG

    user-select text
    padding: 0
    margin: 0

  h1
    font-weight bold
    font-size 1.5em
    margin-bottom 1.5em

  h2
    font-weight 300
    font-size 1.5em

  h3 
    font-weight normal
    font-size 1.17em

  h4, h5, h6
    font-size 1em
    font-weight bold

  ul
    list-style-type disc
    list-style-position outside
    // text-indent -1em
    padding-left 2em
    margin-top 1em
    margin-bottom 1em

    li
      display list-item

  hr
    border 0
    border-bottom 1px solid DARK_GRAY
    width 100%

  ul.spaced, ol.spaced
    & > li
      margin-bottom 1em

  @media MEDIA_WITH_SIDEBAR
    font-size 1.125em

    pre, code
      font-size 0.8em

.article-text
  @extend $article-text

$strong-shadow
  box-shadow 0 3px 11px hsla(0, 0%, 0%, 0.5) !important


$centering
  margin 0 auto
  max-width unit(MAX_TEXT_WIDTH + SIDEBAR_WIDTH + MAX_SIDEBAR_PADDING, em)
  padding 0 unit(PADDING_SIDES_CENTERING, em)
  box-sizing border-box
  width 100%

  @media print
    max-width unit(MAX_TEXT_WIDTH,em) !important

  @media MEDIA_REMOVE_SIDEBAR
    max-width unit(WIDTH_WITHOUT_SIDEBAR,em)
    padding 0 unit(PADDING_SIDES_SMALL, em)

$nofocus
  outline: 0 solid transparent
  *outline-color #bada55
  *filter: unquote(IE_TRANSPARENT)

$scrolling
  overflow-scrolling touch
  overflow auto

$scrolling-y
  overflow-scrolling touch
  overflow scroll
  overflow-x hidden

$scrolling-x
  overflow-scrolling touch
  overflow scroll
  overflow-y hidden

$placeholder-editable
  user-select text

  &.empty:before
    content: attr(data-placeholder);
    width: 0;
    height 0
    float: left;
    white-space: nowrap;
    color: #b3b3b3;
    font-weight 300

$focusShadow
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1)

$menu-content
  border-color #999
  border-color rgba(0,0,0,0.2)
  border-style solid
  border-width 1px
  border-radius 4px
  box-shadow 0 5px 10px rgba(0,0,0,0.2)
  background-clip padding-box

  background #fff
  background-color rgba(255,255,255,.98)
  border 0
  box-shadow 0 1px 4px rgba(0,0,0,.25)
  padding 10px 0 5px
  user-select none

$form-field-borders-box
  @extend $IE-TRANSPARENT
  outline none
  background none
  padding 0
  margin 0
  border 1px solid #ccc

  &:hover
    border-color hsl(0,0,50%)

  &:focus, &.focus, &.focus:hover, &:focus:hover
    border-color LINK_COLOR


$form-field-borders
  @extend $IE-TRANSPARENT

  // color BLACK_COLOR
  outline none

  border-style solid
  border-color transparent
  *border-color #bada55
  border-width 0px
  border-bottom-width 1px
  border-bottom-color LINK_COLOR

  &:hover
    // border-color #ddd
    // border-top-color lighten(LINK_COLOR, 20%)
    // border-bottom-color LINK_COLOR
    cursor text

  &:focus, &.focus, &.focus:hover, &:focus:hover
    border-color transparent
    *border-color #bada55
    border-bottom-color BLACK_COLOR
    @extend $nofocus

$message
  @extend $sansserif
  font-size 0.9em
  line-height 1.2em
  padding 0.3em 1em 0.3em 2.2em
  position relative
  white-space normal

$message-content
  min-height 1em

  &:before
    content '\f045'
    font-family spocdicons
    position absolute
    left 1em
    top 0.4em
    -webkit-font-smoothing antialiased

$error-message
  @extend $message
  @extend $message-content
  color white
  background RED_COLOR

$warn-message-bg
  background WARN_COLOR
  @extend $message

$warn-message-content
  color white
  @extend $message
  @extend $message-content

  a
    &, &:link, &:active
      text-decoration underline
      color white

$warn-message
  @extend $warn-message-bg
  @extend $warn-message-content

$info-message-bg
  background INFO_COLOR
  @extend $message

$info-message-content
  color white
  @extend $message
  @extend $message-content

  a
    &, &:link, &:active
      text-decoration underline
      color white

$info-message
  @extend $info-message-bg
  @extend $info-message-content


$cols
  display table

  & > *
    display table-cell
    vertical-align top


@import './styl/button.styl'
@import './styl/transitions.styl'
