// .docs-sidebar_tabs
//   .tab-list
//     li
//       a:before
//         font-family spocdicons
// 
//     .outline:before
//       content: '\f03f'
// 
//     .history:before
//       content: '\f04c'
// 
//     .media:before
//       content: '\f04b'
// 
//     .authors:before
//       content: '\f036'
// 
//     .comments:before
//       content: '\f04a'
// 
