.email-centering.body_footer
  ul
    li: a(href='https://synop.si/doc/534fd4540d1e18a862000001') Company
    li.social
      a.mail(href='mailto:mike@synop.si')
        img(width="29px", height="29px", src="http://static.synop.si/1/mail@2x.png")
      a.twitter(target='blank',href='https://twitter.com/SynopsiApp')
        img(width="29px", height="29px", src="http://static.synop.si/1/twitter@2x.png")
      a.facebook(target='blank',href='https://facebook.com/synopsiapp')
        img(width="29px", height="29px", src="http://static.synop.si/1/facebook@2x.png")
      a.tumblr(target='blank',href='http://synopsi-app.tumblr.com/')
        img(width="29px", height="29px", src="http://static.synop.si/1/tumblr@2x.png")
    li: a(href='https://synop.si/doc/534fe3011507eda475000001') Help
  .bottom-box
    span.copy © Spocdoc LLC · Made in NY

