.marketing-section
  h1 Be Empowered
  ul
    li Spocdoc 

.marketing-section
  h1 Be Efficient
  ul
    li Spocdoc uses a custom-built web framework that makes latency imperceptible for most actions.
    li Create content as easly

.marketing-section
  h1 Stay Connected
  ul
    li Sync content automatically with
    li Easily post content to 
  ul.icon-montage
    li.dropbox
    li.evernote
    li.twitter

.marketing-section
  h1 Be creative
  ul
    li Create custom blogs backed by Spocdoc's technology and hosting.
    li
  ul.icon-montage
    li.dropbox
    li.evernote


