p.thanks Thanks!

p Synopsi is brand new, so we're limiting new sign-ups. We'll email you an invitation when we scale up.

p In the meantime, stay  
  a#blog up to date
  |  and follow us on 
  a(href='https://twitter.com/SynopsiApp' target='_blank') Twitter
  | .



