p Thanks! We'll send you an invitation as soon as a spot opens up.

p In the meantime, check out our 
  a#blog blog
  | , where you can subscribe to receive updates over email, RSS or Twitter.

.next-step
  a#blog2.visit-blog: span Visit the blog
  a#contactUs.contact-us: span Contact Us
