.body-import-text_files
  .step3
    label
      display block
      margin 2em 0

    .description
      p
        margin 0
        padding 0

    table
      border 0
      margin 0.5em 0 0 1em
      padding 0
      border-spacing 0
