@import '../../../utils.styl'

BORDER_SIZE = 2

.body-import-text_files

  .file-list-div
    margin 2em auto 0
    max-width 15em

    // &:after
    //   content: "* Don't worry about duplicates.";
    //   font-size: 0.9em;
    //   text-align: left;
    //   display: block;
    //   margin-top: 0.7em;

  .file-list
    list-style-type none
    text-align: left;
    max-height: 15em;
    overflow: auto;
    margin 0
    padding 0.6em

    line-height 1.5em
    font-size 0.9em

    li
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

  .file-count
    border-top: 1px solid #ccc;
    margin-top: 0.3em;
    line-height: 2em;

    // &:after
    //   content: '*';
    //   font-size: 0.9em;
    //   vertical-align: top;
    //   margin-left: 0.1em;


.with-js
  .body-import-text_files
    &
      .step1-container
        padding unit(PADDING_SIDES_SMALL/2, em)

    .step1
      // padding unit(PADDING_SIDES_SMALL/2, em) unit(PADDING_SIDES - PADDING_SIDES_SMALL/2, em)
      border unit(BORDER_SIZE, px) solid transparent

      header
        margin-left 0

.body-import-text_files
  .step1
    margin 0
    position relative
    border-radius 4px
    width 100%
    height 100%
    box-sizing border-box


    .step-content
      text-align center

    .file
      border 1px solid #ccc
      padding 0.3em
      @extend $nofocus

      &:hover
        cursor pointer

    .dztext-height
      position absolute
      height 1px
      top -1px
      background white
      opacity 0

    .dztext-outer
      width 100%
      display table
      height 100%
      padding 0
      margin 0

      *top 0
      *display inline-block

    .dztext-middle
      padding 0
      vertical-align middle
      display table-cell
      margin 0
      *display inline-block
      *top 50%
      *position relative

    .dztext
      background-color #fff
      text-align center
      *display inline-block
      *top -50%
      *position relative


    &.dragenter
      border-color LINK_COLOR
      easeSlow 'border-color' 

      .drop-zone
        position absolute
        top 0 
        bottom 0
        left 0
        right 0
        z-index 1
        cursor default

      .drop-message
        &:before
          font-family spocdicons
          content '\f03a'
          display block
          font-size 2em
          margin-bottom 0.2em
          color #4183c4

      .dztext-height
        height auto
        top 0
        bottom 0
        left 0
        right 0
        opacity 1
        easeSlow 'opacity' 

