@import '../utils'

[data-menu~="plus"].logged-in > .centering > .content
  opacity 0.5

.desktop.apple [data-menu~="plus"].logged-in > .centering > .content
  -webkit-filter blur(5px)

.menu-outer
  .form
    margin-top 1em

.body > .centering
  & > .content 
    margin-top unit(LOGGED_OUT_HEIGHT + 3,em)

  .body_footer
    white-space nowrap
    text-align center
    padding-top unit(PADDING_SIDES_SMALL, em)
    border-top 1px solid BOTTOM_COLOR
    margin-top 3em
    margin-bottom 2em
    border-radius 4px
    overflow hidden

    & > *
      font-size 0.9em

    @media print
      display none

    & > ul > li
      display inline-block
      margin 0 2em

    a, a:link, a:visited
      color LINK_COLOR

    .bottom-box
      padding 1em 0

    .copy
      font-size 0.8em
      color hsl(0,0,50%)

    .social
      a
        margin-right 0.15em
        cursor pointer
        border-radius 50%
        height 2em
        width 2em
        display inline-block

        &:hover
          text-decoration none
          background LINK_COLOR
          color white

        &:before
          font-family 'spocdicons'
          line-height 2em

      .twitter:before
        content: '\f030'

      .facebook:before
        content: '\f031'

      .linkedin:before
        content: '\f032'

      .tumblr:before
        content: '\f055'

      .mail:before
        content: '\f052'

@import './styl/bar'
@import './styl/login'
