@import '../utils'

.content 
  margin-top unit(LOGGED_OUT_HEIGHT,em)

.footer
  white-space nowrap
  text-align justify
  font-size 0.9em
  padding-top unit(PADDING_SIDES_SMALL, em)
  border-top 1px solid BOTTOM_COLOR

  @media print
    display none

  .box
    float left
    width 33%
    text-align center

    ul
      text-align left
      display inline-block

  .bottom-box
    clear both
    text-align center
    padding-top 1em

.social
  a
    margin-right 0.15em
    cursor pointer

    &:hover
      text-decoration none

    &:before
      font-family 'spocdicons'

  .twitter:before
    content: '\f030'

  .facebook:before
    content: '\f031'

  .linkedin:before
    content: '\f032'

@import './styl/landing'
@import './styl/bar'
@import './styl/login'
