include ../utils

.bar#bar
  .centering
    .bar-content
      .bar-border
      .logo-container
        h1.logo-h1: a#logo.logo(title="Synopsi"): span Synopsi

      .menu-outer.main-menu#mainMenu
        +menu-button('menuButton')
        +menu-center
          ul.main-tabs
            //-li: a.about#about(title="Story"): span Our Story
            li: a.admin#admin(title="Admin"): span Admin
            li: a.blog#blog(title="Updates"): span Updates
            li: a.search#search(title="Search"): span Search
            li: a.hidden.explore#explore(title="Explore"): span Explore
            li: a.hidden.connect#connect(title="Connect"): span Connect
            li: a.hidden.docs.has-menu-sep#docs(title="Doc"): span Doc

          ul.right-div
            li: a#inviteMe1.invite-me: span Sign up
            li.menu-divider: hr
            li.menu-outer.login-menu
              a#logInOverlay.menu-button-overlay
              a#logIn.log-in.has-menu: span Log In
              +menu-right
                .heading
                  a#logInBack.back: span back
                  h3 Log In
                #oauth
                  ul
                    li
                      a.has-spinner#google.google(target="_blank") Log in with Google
                      .spinner(title="Waiting for other window..."): != spinner
                    li
                      a.has-spinner#angellist.angellist(target="_blank") Log in with AngelList
                      .spinner(title="Waiting for other window..."): != spinner
                    //-
                      li
                        a.has-spinner#evernote.evernote(target="_blank") Evernote
                        .spinner(title="Waiting for other window..."): != spinner
                      li
                        a.has-spinner#twitter.twitter(target="_blank") Twitter
                        .spinner(title="Waiting for other window..."): != spinner
                      li
                        a.has-spinner#github.github(target="_blank") Github
                        .spinner(title="Waiting for other window..."): != spinner
                      li
                        a.has-spinner#linkedin.linkedin(target="_blank") LinkedIn
                        .spinner(title="Waiting for other window..."): != spinner
                      li
                        a.has-spinner#tumblr.tumblr(target="_blank") Tumblr
                        .spinner(title="Waiting for other window..."): != spinner
                  p.error#oauthError
                ul: li.menu-divider: hr
                form.form(novalidate='true')
                  label.input-group#usernameGroup
                    input(type='email', spellcheck="false", placeholder="Username or email")#username
                    p.error#usernameError
                  label.input-group#passwordGroup
                    input(type="password", placeholder="Password")#password
                    p.error#passwordError
                  div.submit-div#submitDiv
                    p.error#submitError
                    button(type="submit").submit#submit.has-spinner
                      span Log In
                    #submitSpinner.spinner(title="Waiting for the server..."): != spinner

            li.menu-outer.user-menu
              a#userMenuOverlay.menu-button-overlay
              a#userMenu.user-name.has-menu
                img#userImg(src=transparentGif)
                span#name
              +menu-right
                .heading
                  a#nameBack.back: span back
                  h3#nameHeading
                ul
                  //-li: a Tags
                    li: a Account
                    li.menu-divider: hr
                    li: a Help
                  li: a#import Import
                  li.menu-divider: hr
                  li: a#logOut Log Out

      .right-div-min
        a#inviteMe2.invite-me: span Sign up
        .menu-outer.plus-menu
          a#plusOverlay.menu-button-overlay
          a#plus.plus(title="Create"): span Create
          +menu-no-list
            #plusContent
            
hr.no-css
.centering
  #content.content
    #footer.body_footer
      ul
        li: a#company Company
        li.social
          a.mail(href='mailto:mike@synop.si')
          a.twitter(target='blank',href='https://twitter.com/SynopsiApp')
          a.facebook(target='blank',href='https://facebook.com/synopsiapp')
          a.tumblr(target='blank',href='http://synopsi-app.tumblr.com/')
        li: a#help Help
      .bottom-box
        span.copy © Spocdoc LLC · Made in NY
        //-a.made-in-ny.hidden

#dialog
