.top
  .centering
    .bar
      .logo: span Spocdoc
    p.tagline
      span Collaborative docs for
      |  
      span
        | the 
        span.highlight “TL;DR” era.
        span.carat |
    .coming-soon
      a Coming Soon!
.bottom
  .centering
    a(href="mailto:mike@spocdoc.com") Contact Us
