include ../utils

.bar#bar
  .centering
    .bar-content
      .bar-border
      .logo-container
        h1.logo-h1: a#logo.logo(title="Spocdoc"): span Spocdoc
      a#plus.plus(title="Create").hidden: span Create

      .menu-outer.main-menu#mainMenu
        +menu-button('menuButton')
        +menu-center
          ul.tabs
            li: a.about#about(title="About"): span About
            li: a.blog#blog(title="Blog"): span Blog
            li: a.explore#explore(title="Explore"): span Explore
            li: a.connect#connect(title="Connect"): span Connect
            li: a.doc.has-menu-sep#document(title="Docs"): span Docs
            li: a.selected.search#search(title="Search"): span Search

          ul.right-div
            li: a#inviteMe1.invite-me: span Invite me!
            li.menu-divider: hr
            li.menu-outer.login-menu
              a#logIn.log-in.has-menu: span Log In
              +menu-right
                .heading
                  a#logInBack.back: span back
                  h3 Log In
                ul
                  li: a Evernote
                  li: a Twitter
                  li: a Github
                  li: a LinkedIn
                  li.menu-divider: hr
                form.form
                  label.input-group.has-error
                    input(type='text', spellcheck="false", placeholder="Username or email")#username
                    p.error#usernameError This username doesn't exist
                  label.input-group
                    input(type="password", placeholder="Password")#password
                    p.error#passwordError This password doesn't match
                  div.submit-div#submitDiv
                    button(type="submit").submit#submit.has-spinner
                      span Log In
                    #submitSpinner.spinner(title="Waiting for the server...")


            //.menu-outer.hidden
              a Mike Robertson
              +menu-right
                ul
                  li: a Tags
                  li: a Import
                  li: a Account
                  li.menu-divider: hr
                  li: a Help
                  li.menu-divider: hr
                  li: a Log Out

      .right-div.right-div-min
        a#inviteMe2.invite-me: span Invite me!
            
hr.no-css
#content.content
  .landing-content
    .centering
      h1.tagline
        em Unleash
        |  your mind.
      p.promo
        | A leap forward in note taking, collaborative and live blogging, wiki writing, documents, journaling, content management&hellip;

.centering
  #centeredContent.centered-content
  #footer.footer
    .box: ul
      li: a About
      li: a Blog
      li: a Investors
    .box: ul
      li: a Careers
      li: a APIs
      li: a Legal
    .box: ul
      li: a Contact Us
      li: a Press
      li
        .social
          a.twitter(target='blank',href='http://twitter.com/SpocdocApp')
          a.angel-list(target='blank')
          a.gust(target='blank')
          a.linkedin(target='blank')
    .bottom-box
      a.made-in-ny.hidden

#dialog
