h1 Contact Us

.container
  ul
    li: a.twitter(href="http://twitter.com/home?status=@SpocdocApp%20",target="_blank")
      span.icon
      span.text Twitter
    li: a.email(href="mailto:mike@spocdoc.com")
      span.icon
      span.text Email


