.has-error
  p.warn That provider won't tell us your email. Lame. How can we reach you?

form.form#emailForm
  label.input-group#emailGroup
    input(type='text', spellcheck="false", placeholder="Email")#email
    p.error#emailError
  div.submit-div#submitDiv
    button(type="submit").submit#submit.has-spinner
      span Invite me!
    #submitSpinner.spinner(title="Waiting for the server..."): != spinner

