@import '../../utils'

.md-outline
  ol
    list-style none
    margin 0
    padding 0
    padding-left 1em

    &:first-child
      padding-left 0

  li
    p
      cursor pointer
      margin 0
      padding 0.5em 0

      &:hover
        color LINK_COLOR




