.centering
  .dialog-back
  .dialog-container#scrolling
    #titleBar.dialog-title-bar
      h1#title.dialog-title
      .dialog-close-container
        a(title="close")#close.dialog-close
          span Close
    #content.dialog-content
