@import '../utils'

.progress_meter
  clear: left;
  margin: 12px 10px 4px;
  height: 8px;
  padding: 3px;
  background: #ebebeb;
  border-radius: 7px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px white;

  .progress-meter-bar
    height: 100%;
    background: #73c822;
    border: 1px solid;
    border-color: #6eb626 #62a21f #5a9122;
    border-radius: 4px;
    box-sizing: border-box;
    background-image: linear-gradient(#73c822, #67aa24);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
    easeVerySlow 'width'

