@import '../utils.styl'

&
  white-space nowrap
  overflow hidden
  width 100%

  .slide
    display inline-block
    position relative
    vertical-align top
    easeSlow(margin-left)
    width 100%
    white-space normal
