@import '../utils'

SIDEBAR_LAYER_RIGHT =  1.4
SIDEBAR_FROM_BAR_BOTTOM = 2
CHEVRON_FROM_TOP = 4
CHEVRON_FROM_SIDE = 0

.with_sidebar
  .main
    margin-right 0

  .sidebar-container
    float right
    width unit(SIDEBAR_WIDTH + 2 * PADDING_SIDES_SMALL,em)
    position relative

  .sidebar
    position fixed
    top 0
    height 100%
    box-sizing border-box
    margin 0
    padding unit(LOGGED_OUT_HEIGHT - SIDEBAR_FROM_BAR_BOTTOM, em) 0
    width 0
    z-index 900

    .menu-outer
      height 100%
      width unit(SIDEBAR_WIDTH + 2 * PADDING_SIDES_SMALL,em)
      left -12px
      display none

    .dropdown-caret
      top unit(SIDEBAR_FROM_BAR_BOTTOM + CHEVRON_FROM_TOP, em)

    .dropdown-menu
      height 100%
      position static
      box-sizing border-box
      padding-left unit(PADDING_SIDES_SMALL, em)
      padding-right unit(PADDING_SIDES_SMALL, em)

      & > div
        height 100%

    .vert-dots
      position absolute
      margin-left unit(SIDEBAR_WIDTH + 2 * PADDING_SIDES_SMALL - CHEVRON_FROM_SIDE - 1, em)
      top unit(CHEVRON_FROM_TOP + LOGGED_OUT_HEIGHT, em)
      padding 4px 1em
      z-index 902

      padding-right unit(PADDING_SIDES_SMALL, em)
      width unit(SIDEBAR_LAYER_RIGHT, em)

      line-height 23px

      &:link, &:visited, &
        // color BLACK_COLOR
        color DARK_GRAY

      &:hover
        color LINK_COLOR
        text-decoration none

@media MEDIA_PHONE_MODE
  [data-menu~="on"]
    .with_sidebar
      .sidebar
        display none

@media MEDIA_TABLET_ZONE
  [data-menu~="login"]
    .with_sidebar
      .sidebar
        display none


@media MEDIA_WITH_SIDEBAR
  .with_sidebar
    .main
      margin-right unit(SIDEBAR_WIDTH + MIN_SIDEBAR_PADDING, em)

    .sidebar-container
      width unit(SIDEBAR_WIDTH,em)
      position static

    .sidebar
      padding unit(LOGGED_OUT_HEIGHT, em) 0
      z-index 0

      .menu-outer
        width unit(SIDEBAR_WIDTH,em)
        left 0
        display block !important

    .vert-dots
      display none

    .dropdown-menu
      border 0
      box-shadow none
      background none
      padding 1.5em 0 !important

    .dropdown-caret
      display none

.sidebar-shown
  .menu-outer
    display block !important

  .vert-dots
    &:link, &:visited, &
      color LINK_COLOR !important

