@import '../../utils'

.logged-in
  .body-landing
    .landing_button_div
      .play_video, .sign_up
        display none
      .write
        display inline-block
    .promo
      display none
.logged-out
  .body-landing
    .landing_button_div
      .play_video, .sign_up
        display inline-block
      .write
        display none
    .promo
      display block
      


.body-landing
  // background LANDING_GRAY
  min-height 26em
  // margin-top -1px
  margin-bottom 3em

  .tagline
    font-weight 300
    text-align center
    padding-top 1em
    font-size 2.5em
    color BLACK_COLOR

    margin-bottom 1.5em

    em
      // color darken(LINK_COLOR, 20%)
      // font-weight bold
      // font-style normal
      // background YELLOW_COLOR
      font-weight normal
      font-style normal

    .carat
      font-weight: normal;
      vertical-align: 3px;
      color: hsl(210, 53%, 51%);
      margin-left: 2px;

  .promo
    line-height 1.6em
    margin auto
    font-size 1.3em
    font-weight normal
    max-width 30em
    padding 0 unit(PADDING_SIDES_SMALL,em)
    text-align center

  .landing_button_div
    text-align center
    margin-top 1em

    .write
      font-size 1.5em

  .headliner
    margin-bottom 64px
    position relative
    height 1024px

    .down-arrow-container
      text-align: center;
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      display none

    .down-arrow
      display none
      font-size 3em
      cursor pointer

      &, &:link, &:visited
        color LIGHT_GRAY

      &:after
        content: '\f054'
        font-family: spocdicons

      &:hover, &:active
        color LINK_COLOR
        text-decoration none


  .marketing-section-what
    position relative
    left unit(- PADDING_SIDES_SMALL, em)
    padding unit(PADDING_SIDES_SMALL, em)
    width 100%
    margin unit(PADDING_SIDES_SMALL, em) auto
    max-width 35em

    // @extend $article-text

    // h1
    //   margin-top 0
    //   font-size 1.5em
    //   // font-weight normal

    //   font-weight bold
    //   // color darken(LINK_COLOR, 20%)


  .invite-section
    text-align center
    // padding-top 2em

    .invite-me
      font-size 1.5em
      margin 1em !important

    .find-out-more
      @extend $button

  @media MEDIA_NO_PHONE_MODE
    .headliner
      .down-arrow-container
        display block

    .tagline
      font-size 3em

    .promo
      font-size 1.2em
      max-width 35em

    // .marketing-section
    //   h1
    //     font-size 2em

  @media MEDIA_WITH_SIDEBAR
    .tagline
      font-size 3.5em
