.headliner
  h1.tagline
    | Blogging. 
    em Reimagined.
    span.carat |
    //-em Unleash
      |  your mind.

  p.promo
    | A leap forward in public and private note taking, collaborative and live blogging, wiki writing, documents, journaling, content management&hellip;


.marketing-section-what
  h1 What is Spocdoc?
  p Tumblr, Twitter, Google Docs and Evernote all share a common core: the authoring of small or large documents that can be searched, discovered and linked together. They're all good at some things, but they're bad (or terrible) at others.
  p That means you have to choose and make compromises. Is what I'm doing better for a tweet or a blog post? Should I put it in Evernote, and if I do, how do I get it on my blog? What if someone wants to edit it or I want to collaborate? How do I search within all my stuff and find one part of one big file I had, wherever I am?
  p What if we could combine all the best of these different services and leave the rest behind? What if you could find your stuff, share it, and create it easily and quickly everywhere?

.marketing-section.invite-section
  a#inviteMe3.invite-me: span Invite me!
  a#findOutMore.find-out-more: span Find out more

