LINK_COLOR = #4183c4
RED_COLOR = #993300
DGREEN_COLOR= #5e5806
YELLOW_COLOR = #fffa57
PINK_COLOR = #993399
DBLUE_COLOR = #316293
BLACK_COLOR = #333
ORANGE_COLOR = hsl(39, 100%, 41%)
GREEN_COLOR = #569e3d

DARK_GRAY = hsl(0, 0%, 59%)

// LIGHT_GREEN = #76c25f
LIGHT_GREEN = hsl(106, 53%, 49%)

LANDING_GRAY = #f5f5f5

FOCUS_COLOR = #66afe9
ERROR_COLOR = hsl(27,100%,26%)
WARN_COLOR = ORANGE_COLOR
INFO_COLOR = darken(LINK_COLOR,13%)

MENU_HOVER_COLOR = hsl(0, 0%, 96%)
