PADDING_SIDES = 1
PADDING_SIDES_CENTERING = 2
PADDING_SIDES_SMALL = 0.6
PADDING_TAB_SIDES = 0.7
SIDEBAR_CHEVRON = 0.8

SIDEBAR_WIDTH = 14

RIGHT_WIDTH = 14
RIGHT_WIDTH_SMALL = RIGHT_SMALL_WIDTH = 4
RIGHT_WIDTH_SMALLEST = RIGHT_SMALLEST_WIDTH = 1.7

BOTTOM_BORDER = 1
// BOTTOM_COLOR = DARK_GRAY
BOTTOM_COLOR = #bfbfbf

TOP_GRADIENT = #f5f5f5 /*hsl(0, 0%, 96%)*/
BOTTOM_GRADIENT = #d9d9d9 /*hsl(0, 0%, 85%)*/
IE_BACKGROUND = #f3f3f3
LOGGED_IN_HEIGHT = 2.7
LOGGED_OUT_HEIGHT = 4
TAB_HEAD = 0.3
TAB_FOOT = 0.4
MAX_SIDEBAR_PADDING = 5.5
MIN_SIDEBAR_PADDING = 2.2
LARGE_FONT = 1.125

LOGO_WIDTH = 8
LOGO_WIDTH_REAL = 6.43
LOGO_RIGHT_MARGIN = 2
LOGO_RIGHT_MARGIN_SMALL = 0.6

MIN_TEXT_WIDTH = 30
MAX_TEXT_WIDTH = 40

CONTENT_PADDING_RIGHT = SIDEBAR_WIDTH + MIN_SIDEBAR_PADDING

WIDTH_WITH_SIDEBAR = CONTENT_PADDING_RIGHT + 2 * PADDING_SIDES_CENTERING + MIN_TEXT_WIDTH
WIDTH_WITHOUT_SIDEBAR = 36

MENU_PADDING_TOP = 0.5

NUM_TABS = 4
TAB_LABEL_WIDTH = 6

RIGHT_WIDTH_REDUCTION = RIGHT_WIDTH - RIGHT_SMALL_WIDTH

LOGGED_OUT_FULL = LOGO_WIDTH + LOGO_RIGHT_MARGIN + NUM_TABS * (TAB_LABEL_WIDTH) + RIGHT_WIDTH
LOGGED_OUT_FULL_SMALL = LOGGED_OUT_FULL - RIGHT_WIDTH_REDUCTION

MEDIA_NO_PHONE_MODE = "only screen and (min-width: " + (LOGGED_OUT_FULL_SMALL) + "em)"

MEDIA_PHONE_MODE = "not screen and (min-width: " + (LOGGED_OUT_FULL_SMALL) + "em)"

MEDIA_TABLET_ZONE = "screen and (min-width:  " + (LOGGED_OUT_FULL_SMALL) + "em) and (max-width: " + (WIDTH_WITH_SIDEBAR) + "em)"

MEDIA_FONT_RESIZE = "only screen and (max-width: " + (CONTENT_PADDING_RIGHT + 2 * PADDING_SIDES_CENTERING + MIN_TEXT_WIDTH * LARGE_FONT) + "em)"
MEDIA_REMOVE_SIDEBAR = "only screen and (max-width: " + (WIDTH_WITH_SIDEBAR) + "em)"
MEDIA_WITH_SIDEBAR = "not screen and (max-width: " + (WIDTH_WITH_SIDEBAR) + "em)"
MEDIA_SMALLER_RIGHT = MEDIA_REMOVE_SIDEBAR
MEDIA_SMALLEST_RIGHT = "only screen and (max-width: 32em)"
MEDIA_SMALLEST_RIGHT_LOGGED_OUT = "only screen and (max-width: 28em)"


