@import '../utils'

.css-slides
  overflow hidden
  height 100%

  & > .content
    white-space nowrap
    position relative
    height 100%

    & > .section
      width 100%
      display inline-block
      white-space wrap
      vertical-align top
      height 100%
      overflow auto
      position relative

    & > .section:not(:first-child)
      & > h1:not(.no-back), & > h2:not(.no-back)
        cursor pointer

        &:before
          content: '\f048'
          font-family: spocdicons
          font-size 0.7em
          vertical-align middle
          padding-right 0.5em

        &:hover
          &:before
            color LINK_COLOR
          


