@import '../../../../utils'

&
  @extend $scrolling-y
  height 100%

.tags
  list-style none
  padding 0
  margin 0
  line-height 1.6em

  li
    display block
    position relative

    a
      @extend $inline-block
      position relative
      z-index 1

    .tag
      margin-left 0.5em
      text-indent: -1em;
      padding 0 0.2em 0 1.2em
      margin-right: 1.7em;

      &:hover
        background LINK_COLOR
        font-smoothing antialiased
        color white
        text-decoration none

    .chevron
      position absolute
      top 0 
      left 0
      width 100%
      height 100%
      text-align right
      z-index 0

      &, &:link, &:visited
        color BLACK_COLOR

      &:hover
        color LINK_COLOR
        text-decoration none
        background MENU_HOVER_COLOR

      span
        display none

      &:after
        font-family spocdicons
        content '\f043'
        padding-right 0.5em
