include ../../utils

#search
.split
  .left
    #editable.indicator
    #public.indicator
  .right.menu-outer
    a.menu_button.tools#tools: span Tools
    
    ul.dropdown-menu-right.with-list.small
      li: a#delete Delete
.split-clear
