p Spocdoc is currently in limited release, so is invitation-based.

ul.instructions
  li Use one of the services below and we'll email the address they have.
  li Or enter your email and we'll email you a link when a spot opens.

#oauth

  ul.oauth-list
    li
      a.has-spinner#evernote.evernote(target="_blank") Evernote
      .spinner(title="Waiting for other window..."): != spinner
    li
      a.has-spinner#twitter.twitter(target="_blank") Twitter
      .spinner(title="Waiting for other window..."): != spinner
    li
      a.has-spinner#github.github(target="_blank") Github
      .spinner(title="Waiting for other window..."): != spinner
    li
      a.has-spinner#linkedin.linkedin(target="_blank") LinkedIn
      .spinner(title="Waiting for other window..."): != spinner
    li
      a.has-spinner#tumblr.tumblr(target="_blank") Tumblr
      .spinner(title="Waiting for other window..."): != spinner

  p.error#oauthError

hr

form.form#emailForm
  label.input-group#emailGroup
    input(type='text', spellcheck="false", placeholder="Email")#email
    p.error#emailError
  div.submit-div#submitDiv
    button(type="submit").submit#submit.has-spinner
      span Invite me!
    #submitSpinner.spinner(title="Waiting for the server..."): != spinner

