//-p Synopsi is brand new, so we're throttling new sign-ups to make sure the servers don't explode. If there aren't enough open spots right now, we'll send you an invitation over email when we scale up.
p Get started with AngelList or Google. Or you can also use email.

#oauth

  ul.oauth-list
    li
      a.has-spinner#angellist.angellist(target="_blank") Sign up with AngelList
      .spinner(title="Waiting for other window..."): != spinner
    li
      a.has-spinner#google.google(target="_blank") Sign up with Google
      .spinner(title="Waiting for other window..."): != spinner
    //-
      li
        a.has-spinner#evernote.evernote(target="_blank") Evernote
        .spinner(title="Waiting for other window..."): != spinner
      li
        a.has-spinner#twitter.twitter(target="_blank") Twitter
        .spinner(title="Waiting for other window..."): != spinner
      li
        a.has-spinner#github.github(target="_blank") Github
        .spinner(title="Waiting for other window..."): != spinner
      li
        a.has-spinner#linkedin.linkedin(target="_blank") LinkedIn
        .spinner(title="Waiting for other window..."): != spinner
      li
        a.has-spinner#tumblr.tumblr(target="_blank") Tumblr
        .spinner(title="Waiting for other window..."): != spinner

  p.error#oauthError

hr

form.form#emailForm
  label.input-group#emailGroup
    input(type='email', spellcheck="false", placeholder="Or enter your email")#email
    p.error#emailError
  div.submit-div#submitDiv
    p.error#submitError
    button(type="submit").submit#submit.has-spinner
      span Invite me!
    #submitSpinner.spinner(title="Waiting for the server..."): != spinner

