#searchContainer.search-container
  h2.search-header
    label
      span.no-css Search: 
      span.search-field-span.empty#search(contenteditable='true', data-placeholder='Search', spellcheck='false')
        br
    | &nbsp;
    a#clear.search-clear.hidden
      span clear
#menu
hr.no-css
