.article#article
  .header#header
    h1#titleH1
      a#title
    ul.tags#tags
    ul.authors#authors
    .meta
      .date#date
      .length#length
    a#chevron.chevron
      span Go &rsaquo;
    .header-bottom
  #content.result-content

hr.no-css

