@import '../../utils'

.bar
  height unit(LOGGED_OUT_HEIGHT,em)
  position absolute
  top 0
  left 0
  width 100%

  .centering
    height 100%

.bar-content
  position relative
  height 100%

.bar-border
  width 100%
  position absolute
  bottom 0
  z-index -1
  left unit(- PADDING_SIDES_SMALL, em)
  padding 0 unit(PADDING_SIDES_SMALL, em)
  border-bottom unit(BOTTOM_BORDER, px) solid BOTTOM_COLOR

.logo-container 
  text-align center
  width 100%
  position absolute
  z-index 0
  left 0
  bottom 0

.main-menu
  position absolute
  z-index 1
  left 1em
  bottom 3px

  & > .dropdown-caret-center,
  & > .dropdown-menu
    display none

  .menu-button-overlay
    top unit(- (1 + PADDING_SIDES_SMALL), em) !important
    left unit(- (1 + PADDING_SIDES_SMALL), em) !important
    padding unit(1 + PADDING_SIDES_SMALL, em)
    padding-bottom 3px

  .login-menu .menu-button-overlay
    display none
    position absolute !important
    bottom 0
    top auto !important
    left -2px !important
    padding 1.6em 1.2em 0 2px !important

  .user-menu .menu-button-overlay
    display none
    position absolute !important
    bottom 0
    top auto !important
    left -2px !important
    padding 1.6em 1.2em 0 2px !important


[data-menu~="on"]
  .main-menu
    & > .dropdown-caret-center,
    & > .dropdown-menu
      display block

    .menu-button
      .icon-bar
        background LINK_COLOR

.logo-h1
  margin 0
  font-size 1em
  // line-height unit(LOGGED_OUT_HEIGHT - TAB_HEAD - TAB_FOOT, em)
  // position absolute
  // bottom 0
  margin-bottom -3px
  @extend $inline-block
  font-smoothing antialiased

  span
    display none
    font-size 2em

  a
    cursor pointer

    &, &:link, &:visited
      color BLACK_COLOR
      ease 'color'

    &:hover
      text-decoration none
      color LINK_COLOR
      ease 'color'

    &:before
      font-family spocdicons
      content: '\f020'
      font-size 2em

.log-in
  cursor pointer

  &, &:link, &:visited
    color BLACK_COLOR

.user-name
  cursor pointer
  &, &:link, &:visited
    color BLACK_COLOR

// [data-menu~='login'].logged-out .main-menu .log-in, .log-in:hover
//   text-decoration none
//   color LINK_COLOR !important
// 
// [data-menu~='user'].logged-in .main-menu .user-name, .user-name:hover
//   text-decoration none
//   color LINK_COLOR !important

.dropdown-menu li > a.invite-me, .invite-me
  @extend $button-green

.main-menu
  .right-div
    text-align left
    .invite-me
      display none

.right-div
  .invite-me
    margin-right 0
    margin-bottom 2px

.right-div-min
  position absolute
  right 0
  bottom 0

.main-menu
  .menu-toggle
    &:before
      font-family: 'spocdicons'
      content: '\f03f'

  .dropdown-menu
    float none
    left -0.5em

.made-in-ny
  display block
  background-image: url('img/made_in_ny.png')
  background-size cover
  width 40px
  height 40px
  margin auto

.login-menu, .user-menu
  & > .dropdown-caret-right,
  & > .dropdown-menu-right,
  .heading
    display none

WWS = WIDTH_WITH_SIDEBAR
WOS = WIDTH_WITHOUT_SIDEBAR
T1 = LOGGED_OUT_FULL
T10 = LOGGED_OUT_FULL_SMALL

MWWS = MEDIA_WITH_SIDEBAR
MT10 = "not screen and (min-width: " + (T10) + "em)"

// phone mode
@media MT10
  [data-menu~='login'].logged-out, [data-menu~='user'].logged-in
    .main-menu
      .main-tabs
        display none

      .right-div
        & > .menu-divider 
          display none

        .login-menu, .user-menu
          .log-in, .user-name
            display none

          & > .dropdown-menu-right
            position static
            display block
            margin 0
            padding 0
            border 0
            box-shadow none

          .heading
            display block
            height 2em
            position relative
            z-index 2
            background #f5f5f5
            border-radius 4px 4px 0 0
            margin-top -10px

            .back
              position absolute
              display block 
              width 1em
              top 0.5em
              left 0.5em

              &, &:link, &:visited
                color #969696

              span
                display none

              &:before
                content '\f048'
                font-family spocdicons
                margin-left 0.1em
                margin-right 0.8em

              &:hover
                color LINK_COLOR
                text-decoration none

            h3
              margin-top 0
              padding 0 20px 0 2em
              font-size 1em
              font-weight bold
              line-height 2em
              white-space nowrap
              padding-right 20px
              text-align center


@import './bar_landing.styl'
@import './bar_logged_out.styl'

