state(s)
  if s is 4
    // RIGHT SIDE MENU LAYOUT
    .bar:after
      content: "right side menu"
  else if s is 3
    .bar:after
      content: "phone"

.landing
  .bar-border
    border none

  .bar
    z-index 2
    position fixed
    background hsla(0,0%,100%,96%)


// .landing
//   .bar
//     background LANDING_GRAY
// 
//   if LOGGED_OUT_ICON < WIDTH_WITH_SIDEBAR
    

