@import '../../utils'

WWS = WIDTH_WITH_SIDEBAR
WOS = WIDTH_WITHOUT_SIDEBAR
T1 = LOGGED_OUT_FULL
T10 = LOGGED_OUT_FULL_SMALL

MWWS = MEDIA_WITH_SIDEBAR
MT10 = MEDIA_NO_PHONE_MODE //"only screen and (min-width: " + (T10) + "em)"

.body .bar .menu-button-overlay:hover
  background none !important
  & + *
    color LINK_COLOR !important

    img
      border-color LINK_COLOR

    .icon-bar
      background LINK_COLOR


hideMenu()
  .main-menu
    & > .menu-button,
    & > .menu-button-overlay,
    & > .dropdown-caret,
    & > .dropdown-caret-center,
    & > .dropdown-caret-right
      display none !important

    & > .dropdown-menu
      display block !important

  .logged-out
    .main-menu
      .login-menu
        .menu-button-overlay
          display block !important

  .logged-in
    .main-menu
      .user-menu
        .menu-button-overlay
          display block !important


  [data-menu~="login"].logged-out
    .main-menu
      .login-menu
        & > .dropdown-caret-right,
        & > .dropdown-menu-right
          display block
      .log-in
        color LINK_COLOR !important

  [data-menu~="user"].logged-in
    .main-menu
      .user-menu
        & > .dropdown-caret-right,
        & > .dropdown-menu-right
          display block
      .user-name
        color LINK_COLOR
        img
          border-color LINK_COLOR

  .login-menu
    & > .dropdown-caret-right
      left auto
      right auto
      // right -22px

    & > .dropdown-menu-right
      right -22px

  .right-div
    .user-menu
      img
        display inline !important

  .logo-container
    display inline-block
    text-align left
    width auto
    z-index 2

  .has-menu
    &:after
      content '\f025'
      position static

  .logged-in
    .user-name:after
      position absolute
      right 0
      bottom 0

  .right-div
    position absolute
    bottom 0
    right 0

    & > li
      display inline-block !important

    & > li > a
      font-size 1em

    & > li.menu-divider
      display none

  .logged-out
    .right-div
      .invite-me
        display inline-block !important
        margin-bottom -2px !important
        font-size 1em   !important

      .log-in
        display inline-block !important
        font-weight 300 !important
        font-size 1em !important
        padding 0 !important
        background none !important

        span
          display none


        &:hover
          background none !important
          color LINK_COLOR !important

  .logged-in
    .right-div
      .user-name
        display inline-block !important
        padding 0 !important
        background none !important

        span
          display none

        &:hover
          background none !important
          color LINK_COLOR

          img
            border-color LINK_COLOR

  .logged-out
    .right-div-min
      display none

  .logged-in
    .right-div-min
      text-align left
      padding-left unit(LOGO_WIDTH, em)

  .main-menu
    position absolute
    width 100%
    text-align center
    bottom unit(BAR_PADDING_BOTTOM, em)
    left 0

    & > .dropdown-menu
      background none
      box-shadow none
      border none
      position static
      white-space nowrap
      padding 0
      margin 0

      .main-tabs li
        display inline-block

        & > a
          font-size 1em
          padding 4px 15px 2px
          margin-bottom 1px

          &:hover, &:active
            color LINK_COLOR
            background none

          &.selected
            background none
            color BLACK_COLOR
            font-weight bold

  .logged-in
    .main-menu
      & > .dropdown-menu
        text-align right
        margin-right unit(RIGHT_WIDTH_SMALL, em)

shortenRight()
  .right-div
    .log-in
      span
        display none

    .invite-me
      margin-right 0 !important

  .dropdown-menu
    .main-tabs li > a
      padding-right 13px
      padding-left 13px

.logged-out
  .main-tabs
    .blog
      display block
    .connect, .search
      display none

  .right-div
    .user-menu
      display none !important
    .login-menu
      display block

.logged-in
  .main-tabs
    .blog
      display none
    .search
      display block

  .right-div
    .login-menu
      display none !important
    .user-menu
      display block

// small right width
@media MT10
  hideMenu()

  .invite-me
    margin-right 0!important
  
// full right with sidebar
@media MWWS
  .main-menu
    & > .dropdown-menu
      .main-tabs li > a
        padding-right 20px
        padding-left 20px

  .logged-out
    .right-div
      .log-in
        span
          display inline
      .invite-me
        margin-right 0.5em !important

  .logged-out.landing
    .right-div
      .log-in
        span
          display none

  .logged-in
    .main-menu
      & > .dropdown-menu
        margin-right unit(RIGHT_WIDTH,em)
    .right-div
      .user-name
        img
          margin-right 5px
        span
          display inline-block
          padding-right 1.1em
          overflow hidden
          text-overflow ellipsis
          max-width unit(RIGHT_WIDTH - 2 - 1.1, em)
          line-height 1em


