.landing-content
  // background LANDING_GRAY
  min-height 26em
  // margin-top -1px

.tagline
  font-weight 300
  font-size 3em
  text-align center
  padding-top 2em

  em
    color darken(LINK_COLOR, 20%)
    font-weight bold
    font-style normal
