@import '../../utils'

.md-article
  .margin-eater
    height 0
    margin-top -10em
    margin-bottom 9em
    padding-bottom 1em

  // .search-results
  //   .section
  //     // @extend $serif
  //     @extend $nofocus
  //     // line-height 1.6em
  //     margin-bottom 2em
  //     cursor text

  //     .match-sentence
  //       background YELLOW_COLOR

  //     .match-word
  //       font-weight bold

  //   .section-wrapper

  //     &:after
  //       @extend $IE-TRANSPARENT
  //       font-family Helvetica, Arial, sans-serif
  //       content '\00b7  \00b7  \00b7'
  //       position absolute
  //       left 0
  //       width 100%
  //       display block
  //       text-align center
  //       font-size 2em
  //       line-height 1em
  //       margin-top -1em
  //       border-top 1px solid transparent
  //       color DARK_GRAY

  //     &:last-child
  //       .section
  //         margin-bottom 1em

  //       &:after
  //         content ''

  .content
    position relative
    padding 4px
    margin -6px
    border 2px solid transparent

    &.dragenter
      border-color LINK_COLOR
      easeSlow 'border-color' 

    .html
      @extend $article-text

    .root
      @extend $nofocus

    .editor
      @extend $editor-text
      white-space pre-wrap
      word-break break-word

  .carat-spot
    width 0
    height 2px
    position fixed
    z-index -1
    // background lighten(LINK_COLOR,20%)
    background lighten(LINK_COLOR,20%)
    easeSlow('width', 'left')

    &.starting
      transition none

  a:hover
    cursor: pointer

  .md-editor-heading
    font-weight: bold

  .md-html-heading
    h1
      font-size: 2em

    h2
      font-size: 1.5em

    h3
      font-size: 1.17em

  .md-html-spaced-list li
    margin-top: 1em


.iphone
  .md-article
    pre
      font-size 16px !important // to prevent zooming
